.container {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #ff758c, #ff7eb3);
  color: white;
  font-family: Arial, sans-serif;
  text-align: center;
}

body {
  margin: 0;
}

.btnWrapper {
  position: relative;
  width: 100%;
  height: 200px;
  margin-top: 40px;
}

button {
  padding: 18px 36px;
  font-size: 20px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  position: absolute;
  transition: 0.2s;
}

.yesBtn {
  position: absolute;
  background-color: #28a745;
  top: 65%;
  left: 25%;
  transform: translateX(-50%);
}

.noBtn {
  position: absolute;
  background-color: #dc3545;
}

@media (min-width: 768px) {

  .btnWrapper {
    height: 150px;
  }

  .yesBtn {
    left: 40%;
    transform: translateX(-50%);
  }

}